<h1> Name: <%= @hero.name %> </h1>
<h2> Power: <%= @hero.power %> </h2>
<h2> Desc: <%= @hero.desc %> </h2>
<h2> Job: <%= @hero.job %> </h2>

<%= button_to "Delete", "/heroes/#{@hero.id}", :method => :delete %>
